<section class="row row-content">
    <header class="row mb-5">
        <h2 class="titles text-center">
            Reglamentos deportivos
        </h2>
    </header>
    <div class="row">
        <div class="col-md-4 offset-md-4 mb-3 mb-md-4">
            <a href="../../../assets/files/reglamentos/fifa.pdf" target="black">
                <button class="btn btn-regla">Fútbol</button>
            </a>
        </div>
        <div class="col-md-4 offset-md-4 mb-3 mb-md-4">
            <a href="../../../assets/files/reglamentos/futsal.pdf" target="black">
                <button class="btn btn-regla">Futsal</button>
            </a>
        </div>
        <div class="col-md-4 offset-md-4 mb-3 mb-md-4">
            <a href="../../../assets/files/reglamentos/baloncesto.pdf" target="black">
                <button class="btn btn-regla">Baloncesto</button>
            </a>
        </div>
        <div class="col-md-4 offset-md-4 mb-3 mb-md-4">
            <a href="../../../assets/files/reglamentos/voleibol.pdf" target="black">
                <button class="btn btn-regla">Voleibol</button>
            </a>
        </div>
    </div>
</section>