/**********************************************/
/*               WELCOME MESSAGE               /
/**********************************************/

.div-message .btn-more {
  background-color: rgb(255, 146, 40);
  font-size: 1.2rem;
  color: white;
}
.div-message .btn-more:hover {
  background-color: white;
  font-size: 1.2rem;
  border: 1px solid rgb(255, 146, 40);
  color: rgb(255, 146, 40);
}
.div-message {
  background-color: white;
  padding: 25px;
}
.div-message .btn-more {
  float: right;
}
.div-message .titles {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2.8rem;
}
@media screen and (max-width: 992px) {
  .div-message .btn-more {
    display: flex;
    margin: 0 auto;
    float: none;
  }
}
/**********************************************/
/*                    MODAL                    /
/**********************************************/
.modal {
  z-index: 10;
}
.modal-video {
  width: 100%;
}

/**********************************************/
/*                    HYMNS                    /
/**********************************************/
.accordion-hymns.show{
  display: flex;
  justify-content: center;
}

.hymns {
  text-align: center;
}
.video-hymn{
  margin: 0 auto;
  width: 100%;
  height: 200px;
}
@media screen and (min-width: 992px) {
  .video-hymn{
    width: 560px;
    height: 380px;
    justify-self: center;
  }
}

