a{
    text-decoration:none;
}
/**********************************************/
/*                    FOOTER                   /
/**********************************************/
.footer{
    background-color:rgb(255, 146, 40);
}
.social{
    width:38px;
    display: block;
    transition: width .2s;
    margin-bottom: 5px;
}
.social:hover{
    width:55px;
}
.box-over{
    background-color:rgba(0, 0, 0, 0.2);
}
@media(max-width:992px){
    .social{
        display: inline-block;
        margin: 0 5px 30px 0;
    }
}