<footer class="footer text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-3 mb-md-0 order-1 order-sm-1">
                <h5 class="text-uppercase">Edufísica - El Guadual</h5>
                <p>
                    <i>Web educativo del área de educación física, recreación y deporte.</i>
                </p>
                <p>
                    Contenido realizado por el profesor Alvaro Velasquez Soto.<br> Diseño e implementación del sitio por
                    el ingeniero Javier Velasquez.
                </p>
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 text-center order-3 order-sm-2">
                <h5 class="text-uppercase mb-0">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        <br>
                        <a href="mailto:alvesneivacol@gmail.com?subject=BLOG%20EDUFISICA" class="text-white">Email:
                            alvesneivacol@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Celular: +57 322 442 1704</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Neiva-Huila (Colombia)</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 text-center order-2 order-sm-3">
                <a href="https://api.whatsapp.com/send?phone=573224421704" target="blank">
                    <img class="social" src="../../../../assets/fonts/whatsapp.svg" alt="WhatsApp-icon">
                </a>
                <a href="https://www.facebook.com/alvaro.velasquezsoto" target="blank">
                    <img class="social" src="../../../../assets/fonts/facebook.svg" alt="WhatsApp-icon">
                </a>
                <a href="mailto:alvesneivacol@gmail.com?subject=BLOG%20EDUFISICA">
                    <img class="social" src="../../../../assets/fonts/gmail.svg" alt="WhatsApp-icon">
                </a>
            </div>
        </div>

    </div><!-- Container footer -->

    <!-- Copyright -->
    <div class="box-over text-center p-3">
        <p>&copy; {{ yearDate }} Copyright: El Guadual (Rivera-Huila)</p>
    </div>
    <!-- Copyright -->
</footer>